/* Gilroy */
@font-face {
    font-family: 'Gilroy-Black';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Black.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-BlackItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-BlackItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-Bold';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-BoldItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-BoldItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-Extrabold';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Extrabold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-ExtraboldItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-Heavy';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Heavy.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-HeavyItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-HeavyItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-Light';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Light.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-LightItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-LightItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-Medium';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Medium.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-Regular';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-MediumItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-MediumItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-Semibold';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Semibold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-RegularItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-RegularItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-SemiboldItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-SemiboldItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-Thin';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-Thin.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-ThinItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-ThinItalic.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-UltraLight';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-UltraLight.otf') format('opentype');
  }
  @font-face {
    font-family: 'Gilroy-UltraLightItalic';
    font-display: swap;
    src: url('/assets/fonts/Gilroy/Gilroy-UltraLightItalic.otf')
      format('opentype');
  }